# Semester Project
##### Jeff Sharpe, Rachel Pullen, Jackie Woodlief

We are trying to figure out if loans are actually given to people who need it!

Step 1: How do you tell if someone needs a loan or not?

Use the downloaded dataset to fit a ML alg and test on KIVA data sets

In [4]:
# Import statements! Are loans given to people who actually need it, 3 more files, contain poverty index of every country

import numpy as np
import pandas as pd

In [20]:
loans = pd.read_csv("data-science-for-good-kiva-crowdfunding/kiva_loans.csv")
mpi_locations = pd.read_csv("data-science-for-good-kiva-crowdfunding/kiva_mpi_region_locations.csv")
loan_theme_id = pd.read_csv("data-science-for-good-kiva-crowdfunding/loan_theme_ids.csv")
loan_theme_region = pd.read_csv("data-science-for-good-kiva-crowdfunding/loan_themes_by_region.csv")
country_stats = pd.read_csv("data-science-for-good-kiva-crowdfunding/country_stats.csv")

In [53]:
pak_table_stats = country_stats.loc[country_stats['country_name'] == "Pakistan"]
pak_table_stats

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name
3,Pakistan,PK,PAK,Asia,Southern Asia,197015955,29.5,0.550354,66.365,8.10691,5.08946,5031.173074,Pakistan

In [22]:
country_stats.head(20)

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name
0,India,IN,IND,Asia,Southern Asia,1339180127,21.9,0.623559,68.322,11.696590,6.298834,5663.474799,India
1,Nigeria,NG,NGA,Africa,Western Africa,190886311,70.0,0.527105,53.057,9.970482,6.000000,5442.901264,Nigeria
2,Mexico,MX,MEX,Americas,Central America,129163276,46.2,0.761683,76.972,13.299090,8.554985,16383.106680,Mexico
3,Pakistan,PK,PAK,Asia,Southern Asia,197015955,29.5,0.550354,66.365,8.106910,5.089460,5031.173074,Pakistan
4,Bangladesh,BD,BGD,Asia,Southern Asia,164669751,31.5,0.578824,71.985,10.178706,5.241577,3341.490722,Bangladesh
5,Democratic Republic of the Congo,CD,COD,Africa,Middle Africa,81339988,63.0,0.435465,59.057,9.750000,6.117153,679.631223,The Democratic Republic of the Congo
6,United States,US,USA,Americas,Northern America,324459463,15.1,0.919553,79.222,16.538150,13.217890,53245.076960,United States
7,China,CN,CHN,Asia,Eastern Asia,1409517397,3.3,0.737681,75.963,13.535750,7.641840,13345.477460,China
8,Ethiopia,ET,ETH,Africa,Eastern Africa,104957438,29.6,0.447750,64.602,8.351520,2.580780,1522.954782,Ethiopia
9,Indonesia,ID,IDN,Asia,South-eastern Asia,263991379,10.9,0.688847,69.052,12.867660,7.934817,10053.337700,Indonesia
10,Egypt,EG,EGY,Africa,Northern Africa,97553151,25.2,0.691392,71.325,13.098900,7.110000,10064.059910,Egypt
11,Philippines,PH,PHL,Asia,South-eastern Asia,104918090,21.6,0.681799,68.340,11.733020,9.326870,8395.094758,Philippines
12,Kenya,KE,KEN,Africa,Eastern Africa,49699862,43.4,0.554679,62.164,11.080000,6.314098,2880.739597,Kenya
13,Japan,JP,JPN,Asia,Eastern Asia,127484450,16.1,0.903462,83.684,15.340480,12.464000,37267.964070,Japan
14,Russia,RU,RUS,Europe,Eastern Europe,143989754,13.3,0.803908,70.264,14.953150,12.019990,23286.080650,Russia
15,Sudan,SD,SDN,Africa,Northern Africa,40533330,46.5,0.490188,63.732,7.205260,3.522000,3846.370533,Sudan
16,Madagascar,MG,MDG,Africa,Eastern Africa,25570895,70.7,0.512149,65.515,10.346140,6.145955,1319.699397,Madagascar
17,Italy,IT,ITA,Europe,Southern Europe,59359900,29.9,0.886552,83.338,16.258270,10.868793,33572.982490,Italy
18,Turkey,TR,TUR,Asia,Western Asia,80745020,21.9,0.766996,75.528,14.596585,7.887860,18704.527280,Turkey
19,Yemen,YE,YEM,Asia,Western Asia,28250420,54.0,0.482402,64.053,8.989500,3.000000,2300.272279,Yemen

In [27]:
loans["sector"].value_counts() #15 unique sectors!!

Agriculture       180302
Food              136657
Retail            124494
Services           45140
Personal Use       36385
Housing            33731
Clothing           32742
Education          31013
Transportation     15518
Arts               12060
Health              9223
Construction        6268
Manufacturing       6208
Entertainment        830
Wholesale            634
Name: sector, dtype: int64

In [38]:
loans.filter(like='22', axis = 0)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
22,653050,575.0,575.0,Clothing Sales,Clothing,To buy winter clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:05:17+00:00,2013-12-17 08:00:00+00:00,2014-01-02 23:56:08+00:00,12.0,20,NaN,"female, female",irregular,2014-01-01
122,653346,200.0,200.0,Fruits & Vegetables,Food,to buy more plantain to sell,LR,Liberia,New Kru,LRD,182.0,2014-01-02 13:55:35+00:00,2013-12-19 08:00:00+00:00,2014-01-03 14:23:08+00:00,11.0,8,user_favorite,female,irregular,2014-01-02
220,653379,800.0,800.0,Education provider,Education,to buy many more educational games,CO,Colombia,Barranquilla,COP,154.0,2014-01-02 16:03:34+00:00,2013-12-27 08:00:00+00:00,2014-01-02 19:14:49+00:00,15.0,18,NaN,female,monthly,2014-01-02
221,653282,125.0,125.0,Tailoring,Services,"to buy sewing threads, fabrics, and cloth mate...",KE,Kenya,Likoni,KES,164.0,2014-01-02 10:58:38+00:00,2013-12-06 08:00:00+00:00,2014-01-02 18:25:46+00:00,11.0,2,NaN,female,irregular,2014-01-02
222,653232,2400.0,2400.0,Grocery Store,Food,to pay the annual rent for his grocery store a...,IQ,Iraq,NaN,USD,166.0,2014-01-02 08:49:15+00:00,2013-12-27 08:00:00+00:00,2014-01-31 01:01:25+00:00,15.0,83,"volunteer_pick, #Single, #Supporting Family, u...",male,monthly,2014-01-02
223,653156,2125.0,2125.0,Animal Sales,Agriculture,To purchase more goat kids,IN,India,"Balipatna, Odisha",INR,241.0,2014-01-02 05:27:48+00:00,2013-12-02 08:00:00+00:00,2014-01-03 11:47:12+00:00,43.0,51,NaN,"female, female, female, female, female, female...",bullet,2014-01-02
224,653197,250.0,250.0,Farming,Agriculture,"to buy fertilizer, farm chemicals and dairy meal",KE,Kenya,Nanyuki,KES,203.0,2014-01-02 07:29:54+00:00,2013-12-11 08:00:00+00:00,2014-01-02 16:14:06+00:00,10.0,8,"#Schooling, #Supporting Family, #Job Creator",female,irregular,2014-01-02
225,653243,250.0,250.0,Beauty Salon,Services,"to buy hair weaves, hair oils, shampoo and hai...",KE,Kenya,Voi,KES,164.0,2014-01-02 09:14:25+00:00,2013-12-05 08:00:00+00:00,2014-01-03 15:20:50+00:00,13.0,10,NaN,female,irregular,2014-01-02
226,653152,4175.0,4175.0,Butcher Shop,Food,"to buy a cava, tools, required utensils and a ...",CO,Colombia,Medellín,COP,177.0,2014-01-02 04:24:49+00:00,2013-12-02 08:00:00+00:00,2014-01-30 03:56:08+00:00,26.0,151,"#Biz Durable Asset, #Supporting Family, #Biz D...",male,monthly,2014-01-02
227,653255,2500.0,2500.0,Beauty Salon,Services,to buy a hair dryer and makeup tools for her ...,PS,Palestine,Ramallah,USD,122.0,2014-01-02 09:44:02+00:00,2013-12-24 08:00:00+00:00,2014-01-15 00:40:05+00:00,39.0,83,"#Biz Durable Asset, #Parent, #Supporting Famil...",female,monthly,2014-01-02
228,653292,1700.0,1700.0,Food Production/Sales,Food,to buy condiments.,ML,Mali,Kadiolo,XOF,78.0,2014-01-02 11:18:17+00:00,2013-12-10 08:00:00+00:00,2014-01-04 18:54:55+00:00,7.0,63,user_favorite,"female, female, female, female",monthly,2014-01-02
229,653309,250.0,250.0,Food Stall,Food,"to purchase 3 bundles of wheat flour, cooking...",KE,Kenya,Voi,KES,164.0,2014-01-02 12:03:49+00:00,2013-12-12 08:00:00+00:00,2014-01-04 16:24:54+00:00,13.0,6,"#First Loan, #Single, #Woman Owned Biz",female,irregular,2014-01-02
322,653184,1200.0,1200.0,Construction,Construction,to purchase construction tools to use in her h...,KH,Cambodia,Kampong Chhnang Province,USD,9.0,2014-01-02 06:58:42+00:00,2013-12-17 08:00:00+00:00,2014-01-05 16:28:16+00:00,20.0,43,"#Parent, #Supporting Family, #Schooling, user_...",female,monthly,2014-01-02
422,653606,850.0,850.0,Food,Food,to buy cereals,KE,Kenya,Nanyuki,KES,203.0,2014-01-03 09:03:40+00:00,2013-12-04 08:00:00+00:00,2014-01-07 10:16:56+00:00,11.0,34,"user_favorite, #Job Creator, #Single, user_fav...",female,irregular,2014-01-03
522,653575,250.0,250.0,Food Production/Sales,Food,"to buy more wheat flour, sugar, salt and cook...",KE,Kenya,Voi,KES,164.0,2014-01-03 08:09:01+00:00,2013-12-23 08:00:00+00:00,2014-01-03 23:37:01+00:00,14.0,10,volunteer_pick,female,irregular,2014-01-03
622,653726,600.0,600.0,Auto Repair,Services,to buy auto parts and tires.,CO,Colombia,Soledad Atlàntico,COP,154.0,2014-01-03 16:22:03+00:00,2013-12-19 08:00:00+00:00,2014-01-29 20:56:42+00:00,15.0,22,"#Repeat Borrower, user_favorite",male,monthly,2014-01-03
722,653801,500.0,500.0,Retail,Retail,to buy a variety of fruits and vegetables like...,SV,El Salvador,NaN,USD,81.0,2014-01-03 23:25:58+00:00,2013-12-13 08:00:00+00:00,2014-01-20 04:04:18+00:00,11.0,17,"#Single, #Vegan, user_favorite",male,monthly,2014-01-03
822,653951,475.0,475.0,Barber Shop,Services,to purchase barbering supplies as well as a sm...,YE,Yemen,Sana`a,YER,205.0,2014-01-05 12:20:47+00:00,2013-12-30 08:00:00+00:00,2014-01-05 17:54:29+00:00,15.0,2,volunteer_pick,male,monthly,2014-01-05
922,654184,125.0,125.0,Used Clothing,Clothing,to purchase more used clothes for her business.,LR,Liberia,Seclapea,LRD,182.0,2014-01-06 11:51:25+00:00,2013-12-13 08:00:00+00:00,2014-01-07 02:50:00+00:00,11.0,5,NaN,female,irregular,2014-01-06
1022,654314,300.0,300.0,Crafts,Arts,to purchase raw materials for the Andean masks...,PE,Peru,Lima,USD,225.0,2014-01-06 17:09:56+00:00,2014-02-10 08:00:00+00:00,2014-01-07 02:40:40+00:00,9.0,12,NaN,male,bullet,2014-01-06
1122,654119,325.0,325.0,Fruits & Vegetables,Food,To buy fresh and seasonal fruits to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-06 10:12:53+00:00,2013-12-26 08:00:00+00:00,2014-01-08 22:31:14+00:00,12.0,13,NaN,female,irregular,2014-01-06
1220,653961,225.0,225.0,General Store,Retail,to buy stock for her sari-sari store,PH,Philippines,"Calamba-Poblacion, Sibutad ZDN",PHP,126.0,2014-01-06 01:28:56+00:00,2013-12-19 08:00:00+00:00,2014-01-06 03:10:07+00:00,12.0,8,NaN,female,irregular,2014-01-06
1221,654138,150.0,150.0,Personal Housing Expenses,Housing,to buy slate for repairing the roof of her house,TJ,Tajikistan,Yavan,TJS,100.0,2014-01-06 10:53:11+00:00,2013-12-16 08:00:00+00:00,2014-01-07 21:27:38+00:00,14.0,6,volunteer_pick,female,monthly,2014-01-06
1222,654308,800.0,800.0,Livestock,Agriculture,to buy two cows and to be able to improve the ...,SV,El Salvador,NaN,USD,81.0,2014-01-06 17:01:18+00:00,2013-12-13 08:00:00+00:00,2014-02-26 19:37:25+00:00,20.0,31,"volunteer_pick, #Animals, #Elderly, user_favorite",male,monthly,2014-01-06
1223,654285,300.0,300.0,Food Production/Sales,Food,NaN,SV,El Salvador,NaN,USD,81.0,2014-01-06 16:09:52+00:00,2013-12-29 08:00:00+00:00,2014-02-05 03:41:48+00:00,12.0,1,NaN,NaN,monthly,2014-01-06
1224,654182,125.0,125.0,Clothing Sales,Clothing,to buy more bales of clothes for resale.,KE,Kenya,Tiribe,KES,164.0,2014-01-06 11:48:07+00:00,2013-12-19 08:00:00+00:00,2014-01-07 20:17:01+00:00,14.0,5,NaN,male,irregular,2014-01-06
1225,654231,1400.0,1400.0,Clothing Sales,Clothing,to purchase a stock of clothes and expand her ...,GE,Georgia,Ozurgeti,USD,181.0,2014-01-06 13:24:23+00:00,2013-12-28 08:00:00+00:00,2014-01-23 02:36:15+00:00,15.0,46,"#Woman Owned Biz, #Supporting Family, user_fav...",female,monthly,2014-01-06
1226,654259,1000.0,1000.0,Personal Housing Expenses,Housing,"to buy sand, cement, bricks, paint, etc.",SV,El Salvador,NaN,USD,81.0,2014-01-06 15:10:45+00:00,2013-12-10 08:00:00+00:00,2014-01-13 00:43:15+00:00,20.0,26,#Parent,female,monthly,2014-01-06
1227,654043,1100.0,1175.0,Grocery Store,Food,to buy new products for his grocery store in o...,YE,Yemen,Sana`a,YER,205.0,2014-01-06 07:43:41+00:00,2013-12-23 08:00:00+00:00,NaN,15.0,32,"#Parent, user_favorite",male,monthly,2014-01-06
1228,654396,1600.0,1600.0,Paper Sales,Retail,"to buy notebooks, pencils, paper, and school s...",EC,Ecuador,Jaramijo,USD,137.0,2014-01-06 23:06:29+00:00,2013-12-12 08:00:00+00:00,2014-01-08 15:28:51+00:00,7.0,51,"user_favorite, #Woman Owned Biz, #Single, #Rep...",female,irregular,2014-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669228,1334891,50.0,1200.0,Motorcycle Repair,Services,to purchase highly requested motorcycle spare ...,LB,Lebanon,Qana,USD,77.0,2017-07-06 09:17:06+00:00,2017-06-22 07:00:00+00:00,NaN,17.0,2,"#Refugee, #Repair Renew Replace",male,monthly,2017-07-06
669229,1334884,100.0,100.0,Celebrations,Personal Use,to purchase some foodstuffs for the Ramadan ce...,KE,Kenya,Mwambalazi,KES,164.0,2017-07-06 09:06:46+00:00,2017-06-30 07:00:00+00:00,2017-07-14 16:02:03+00:00,14.0,4,#Parent,female,irregular,2017-07-06
669322,1335281,50.0,650.0,Sewing,Services,to buy supplies such as fabrics to make clothes.,CO,Colombia,Bello,COP,177.0,2017-07-06 19:53:02+00:00,2017-06-06 07:00:00+00:00,NaN,20.0,2,"#Woman Owned Biz, #Fabrics",female,bullet,2017-07-06
669422,1335251,0.0,2200.0,Clothing Sales,Clothing,to buy and sell traditional clothes such as bl...,GT,Guatemala,Suchitepéquez,GTQ,246.0,2017-07-06 18:07:20+00:00,2017-06-13 07:00:00+00:00,NaN,14.0,0,"#Woman Owned Biz, #Fabrics, #Parent","female, female, female, female",monthly,2017-07-06
669522,1335250,350.0,350.0,Retail,Retail,"to purchase shirts, pants, dresses, and other ...",NI,Nicaragua,Boaco,USD,176.0,2017-07-06 17:59:38+00:00,2017-06-21 07:00:00+00:00,2017-07-11 12:47:24+00:00,11.0,6,#Repeat Borrower,female,monthly,2017-07-06
669622,1334484,300.0,300.0,Grocery Store,Food,"to buy sardines, noodles, biscuits, bread, and...",PH,Philippines,"Capatan Tuguegarao,City",PHP,123.0,2017-07-06 03:12:50+00:00,2017-06-23 07:00:00+00:00,2017-07-14 01:30:38+00:00,8.0,6,"#Woman Owned Biz, #Elderly",female,irregular,2017-07-06
669722,1334805,75.0,575.0,Farming,Agriculture,to buy more land to expand his farming projects.,UG,Uganda,Kamwenge,UGX,163.0,2017-07-06 08:00:16+00:00,2017-06-26 07:00:00+00:00,NaN,13.0,3,"#Parent, #Biz Durable Asset",male,monthly,2017-07-06
669822,1335231,0.0,225.0,Food Stall,Food,"to buy rice, palm oil and containers of chicke...",SL,Sierra Leone,Goderich,SLL,183.0,2017-07-06 16:55:59+00:00,2017-06-07 07:00:00+00:00,NaN,11.0,0,"#Parent, #Woman Owned Biz",female,irregular,2017-07-06
669922,1335932,0.0,5775.0,General Store,Retail,"to buy more sugar, salt, and soap to fill her ...",RW,Rwanda,NaN,RWF,161.0,2017-07-07 13:25:11+00:00,2017-06-27 07:00:00+00:00,NaN,8.0,0,NaN,"female, female, female, female, female, male, ...",irregular,2017-07-07
670022,1336136,75.0,325.0,Farming,Agriculture,to buy farming inputs to increase his production,CO,Colombia,San Andrés de Sotavento,COP,177.0,2017-07-07 21:18:51+00:00,2017-06-09 07:00:00+00:00,NaN,12.0,3,NaN,male,bullet,2017-07-07
670122,1336142,875.0,875.0,Retail,Retail,"to buy benches, chairs, and decorations made o...",EC,Ecuador,Montecristi,USD,137.0,2017-07-07 21:25:22+00:00,2017-06-30 07:00:00+00:00,2017-07-10 17:43:59+00:00,7.0,5,NaN,female,monthly,2017-07-07
670220,1335406,350.0,700.0,Personal Products Sales,Retail,"purchase new perfumes, bags, purses and backpa...",NI,Nicaragua,Managua,USD,176.0,2017-07-07 02:19:04+00:00,2017-06-07 07:00:00+00:00,NaN,12.0,9,"#Elderly, #Repeat Borrower, user_favorite",female,monthly,2017-07-07
670221,1336052,1075.0,1075.0,Crafts,Arts,to buy more crafts.,EC,Ecuador,Montecristi,USD,137.0,2017-07-07 18:28:57+00:00,2017-06-23 07:00:00+00:00,2017-07-09 16:45:58+00:00,7.0,7,NaN,male,monthly,2017-07-07
670222,1336172,1100.0,1100.0,Retail,Retail,"to purchase cloth, towels, curtains, and perfu...",EC,Ecuador,Portoviejo,USD,137.0,2017-07-07 21:51:43+00:00,2017-06-30 07:00:00+00:00,2017-07-10 21:29:53+00:00,8.0,10,"#Single Parent, #Parent, user_favorite",female,monthly,2017-07-07
670223,1335940,0.0,425.0,Retail,Retail,to buy more dry goods to sell,LR,Liberia,Airport,LRD,182.0,2017-07-07 13:34:22+00:00,2017-06-21 07:00:00+00:00,NaN,11.0,0,NaN,female,irregular,2017-07-07
670224,1335870,125.0,300.0,Animal Sales,Agriculture,to purchase more goats and cows for resale.,KE,Kenya,Kaloleni,KES,164.0,2017-07-07 11:56:27+00:00,2017-06-09 07:00:00+00:00,NaN,14.0,4,"#Animals, #Woman Owned Biz, #Elderly",female,irregular,2017-07-07
670225,1335528,0.0,875.0,Cereals,Food,to buy more stock of cereals,KE,Kenya,Kitale,KES,138.0,2017-07-07 05:36:03+00:00,2017-06-29 07:00:00+00:00,NaN,14.0,0,"#Parent, #Woman Owned Biz, #Repeat Borrower",female,monthly,2017-07-07
670226,1336065,0.0,600.0,General Store,Retail,"to buy bread, sugar, salt, eggs drinks etc., s...",SV,El Salvador,NaN,USD,167.0,2017-07-07 19:45:26+00:00,2017-06-12 07:00:00+00:00,NaN,14.0,0,#Repeat Borrower,female,monthly,2017-07-07
670227,1335960,1000.0,1000.0,Restaurant,Food,to buy sausages and chicken for her restaurant...,EC,Ecuador,Tulcán,USD,188.0,2017-07-07 14:12:07+00:00,2017-06-23 07:00:00+00:00,2017-07-09 17:35:01+00:00,8.0,4,"#Animals, #Repeat Borrower",female,monthly,2017-07-07
670228,1336211,0.0,1100.0,General Store,Retail,to invest in the purchase of larger quantities...,PE,Peru,Querocotillo - Cutervo - Cajamarca,PEN,143.0,2017-07-07 23:06:53+00:00,2017-06-13 07:00:00+00:00,NaN,14.0,0,"#Elderly, #Repeat Borrower, user_favorite",male,monthly,2017-07-07
670229,1335843,50.0,300.0,Embroidery,Arts,her to invest in her embroidery work by buying...,PK,Pakistan,Multan,PKR,247.0,2017-07-07 11:30:49+00:00,2017-06-23 07:00:00+00:00,NaN,15.0,2,"#Fabrics, user_favorite, user_favorite",female,monthly,2017-07-07
670322,1335395,100.0,100.0,Farming,Agriculture,to buy organic fertilizer for her root crops g...,PH,Philippines,"Dapacan Alto, Calamba, Miss. Occ",PHP,136.0,2017-07-07 02:00:50+00:00,2017-06-28 07:00:00+00:00,2017-07-15 04:34:13+00:00,8.0,1,#Eco-friendly,female,irregular,2017-07-07
670422,1336180,1625.0,1625.0,Cosmetics Sales,Retail,"to purchase perfumes, creams, costume jewelry ...",EC,Ecuador,Portoviejo,USD,137.0,2017-07-07 22:08:41+00:00,2017-06-30 07:00:00+00:00,2017-07-10 22:05:36+00:00,7.0,16,#Elderly,female,irregular,2017-07-07
670522,1336329,0.0,475.0,Embroidery,Arts,"to buy embroidery raw material such as thread,...",PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 17:55:17+00:00,2017-06-08 07:00:00+00:00,NaN,14.0,0,"#Woman Owned Biz, #Fabrics",female,monthly,2017-07-08
670622,1336592,75.0,2175.0,Dairy,Agriculture,with the purchase of three dairy cows to incre...,KG,Kyrgyzstan,Talas district,KGS,171.0,2017-07-10 04:47:26+00:00,2017-06-08 07:00:00+00:00,NaN,19.0,3,"#Animals, #Elderly, #Biz Durable Asset, #Woman...",female,monthly,2017-07-10
670722,1337097,450.0,450.0,Sewing,Services,to purchase materials for her business such as...,HN,Honduras,"Tocoa, Colon",HNL,201.0,2017-07-10 20:57:32+00:00,2017-06-17 07:00:00+00:00,2017-07-12 12:23:11+00:00,14.0,12,"volunteer_pick, #Single Parent, #Woman Owned B...",female,monthly,2017-07-10
670822,1337710,0.0,1100.0,Pigs,Agriculture,to buy pigs and animal feed.,EC,Ecuador,San Gabriel,USD,188.0,2017-07-11 15:01:27+00:00,2017-07-10 07:00:00+00:00,NaN,17.0,0,#Animals,male,monthly,2017-07-11
670922,1337709,50.0,350.0,Farming,Agriculture,"to hire 30 workers to harvest, gather, and tra...",CO,Colombia,Ciénaga de Oro,COP,177.0,2017-07-11 15:00:35+00:00,2017-06-21 07:00:00+00:00,NaN,12.0,2,user_favorite,male,bullet,2017-07-11
671022,1338428,50.0,175.0,Pigs,Agriculture,"to buy pigs, pig feed, and materials for build...",CO,Colombia,Sahagun,COP,177.0,2017-07-12 15:48:16+00:00,2017-06-22 07:00:00+00:00,NaN,10.0,2,"#Animals, #Woman Owned Biz",female,bullet,2017-07-12
671122,1339259,0.0,1000.0,Internet Cafe,Services,"to buy stationery goods, pencils, erasers and ...",SV,El Salvador,NaN,USD,167.0,2017-07-13 14:08:22+00:00,2017-06-16 07:00:00+00:00,NaN,20.0,0,#Repeat Borrower,female,monthly,2017-07-13

In [49]:
# Look at the regions within a country and compare

pak_table = loans.loc[loans['country'] == "Pakistan"]
pak_table

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01
7,653078,400.0,400.0,Beauty Salon,Services,to buy more hair and skin care products.,PK,Pakistan,Ellahabad,PKR,245.0,2014-01-01 11:46:01+00:00,2013-12-20 08:00:00+00:00,2014-01-10 18:18:44+00:00,14.0,8,"#Elderly, #Woman Owned Biz",female,monthly,2014-01-01
8,653082,475.0,475.0,Manufacturing,Manufacturing,"to purchase leather, plastic soles and heels i...",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:49:43+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:47:21+00:00,14.0,19,user_favorite,female,monthly,2014-01-01
9,653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,NaN,female,irregular,2014-01-01
10,653060,200.0,200.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:32:39+00:00,2013-12-24 08:00:00+00:00,2014-01-01 12:18:55+00:00,11.0,3,NaN,female,irregular,2014-01-01
11,653088,400.0,400.0,Wholesale,Wholesale,"to purchase biscuits, sweets and juices in bulk.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:03:43+00:00,2013-12-16 08:00:00+00:00,2014-01-03 09:19:26+00:00,14.0,16,NaN,female,monthly,2014-01-01
12,653089,400.0,400.0,General Store,Retail,"to buy stock of rice, sugar and flour .",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:04:57+00:00,2013-12-24 08:00:00+00:00,2014-01-08 00:35:14+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01
13,653062,400.0,400.0,Clothing Sales,Clothing,to purchase variety of winter clothes to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:57:58+00:00,2013-12-24 08:00:00+00:00,2014-01-02 15:47:37+00:00,12.0,10,NaN,female,irregular,2014-01-01
15,653054,300.0,300.0,Rickshaw,Transportation,to buy a three-wheeled rickshaw.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-02 00:04:08+00:00,11.0,9,NaN,female,irregular,2014-01-01
16,653091,400.0,400.0,General Store,Retail,"to buy packs of salts, biscuits and beverages.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:09:10+00:00,2013-12-09 08:00:00+00:00,2014-01-14 15:57:05+00:00,14.0,11,"#Woman Owned Biz, #Parent",female,monthly,2014-01-01
17,653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,NaN,"female, female, female",irregular,2014-01-01
19,653080,475.0,475.0,Beauty Salon,Services,to buy more cosmetics products for her beauty ...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:48:08+00:00,2013-12-19 08:00:00+00:00,2014-01-10 03:22:29+00:00,14.0,18,#Woman Owned Biz,female,monthly,2014-01-01
20,653065,250.0,250.0,Bakery,Food,to buy ingredients to make bakery products.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:26:34+00:00,2013-12-18 08:00:00+00:00,2014-01-01 15:35:59+00:00,11.0,10,NaN,female,irregular,2014-01-01
21,653055,350.0,350.0,Restaurant,Food,"to purchase vegetables, chicken, and oil to co...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:14:40+00:00,2013-12-24 08:00:00+00:00,2014-01-01 21:54:18+00:00,12.0,13,NaN,female,irregular,2014-01-01
22,653050,575.0,575.0,Clothing Sales,Clothing,To buy winter clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:05:17+00:00,2013-12-17 08:00:00+00:00,2014-01-02 23:56:08+00:00,12.0,20,NaN,"female, female",irregular,2014-01-01
23,653079,350.0,350.0,Embroidery,Arts,to buy reels of threads in different colors an...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:47:03+00:00,2013-12-13 08:00:00+00:00,2014-01-01 15:45:51+00:00,14.0,6,NaN,female,monthly,2014-01-01
24,653061,250.0,250.0,Food Stall,Food,to purchase a variety of needed food items to ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:46:28+00:00,2013-12-24 08:00:00+00:00,2014-01-02 01:33:55+00:00,11.0,7,NaN,female,irregular,2014-01-01
27,653056,475.0,475.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:20:09+00:00,2013-12-24 08:00:00+00:00,2014-01-01 20:26:48+00:00,12.0,17,NaN,female,irregular,2014-01-01
30,653059,250.0,250.0,Clothing Sales,Clothing,to buy clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:30:22+00:00,2013-12-17 08:00:00+00:00,2014-01-01 15:58:16+00:00,11.0,8,NaN,female,irregular,2014-01-01
31,653087,400.0,400.0,Manufacturing,Manufacturing,to buy bundles of good quality paper along wit...,PK,Pakistan,Jaranwala,PKR,245.0,2014-01-01 12:01:42+00:00,2013-12-13 08:00:00+00:00,2014-01-01 16:37:28+00:00,14.0,7,NaN,female,monthly,2014-01-01
32,653076,450.0,450.0,General Store,Retail,"to buy packs of salt, biscuits, and beverages.",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:43:45+00:00,2013-12-18 08:00:00+00:00,2014-01-08 13:14:51+00:00,14.0,18,"#Parent, #Woman Owned Biz",female,monthly,2014-01-01
34,653086,400.0,400.0,Milk Sales,Food,to purchase one cow.,PK,Pakistan,Sialkot,PKR,245.0,2014-01-01 11:59:58+00:00,2013-12-27 08:00:00+00:00,2014-01-01 18:34:00+00:00,14.0,16,user_favorite,female,monthly,2014-01-01
35,653047,2225.0,2225.0,Personal Products Sales,Retail,to buy hair oils to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 04:49:26+00:00,2013-12-17 08:00:00+00:00,2014-01-19 16:39:37+00:00,11.0,58,"#Parent, #Repeat Borrower, user_favorite","female, female, female, female, female, female...",irregular,2014-01-01
36,653058,400.0,400.0,Services,Services,"to purchase bamboo, nails and iron sheets",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:27:35+00:00,2013-12-24 08:00:00+00:00,2014-01-03 11:51:24+00:00,11.0,16,NaN,female,irregular,2014-01-01
37,653083,475.0,475.0,Sewing,Services,to buy more spools of threads in different col...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:50:33+00:00,2013-12-27 08:00:00+00:00,2014-01-02 01:02:07+00:00,14.0,12,NaN,female,monthly,2014-01-01
38,653057,350.0,350.0,Home Products Sales,Retail,to buy different kinds of knives to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:22:37+00:00,2013-12-17 08:00:00+00:00,2014-01-01 23:58:31+00:00,11.0,4,NaN,female,irregular,2014-01-01
39,653090,475.0,475.0,General Store,Retail,"to buy rice, sugar and flour in bulk.",PK,Pakistan,Jaranwala,PKR,245.0,2014-01-01 12:07:31+00:00,2013-12-05 08:00:00+00:00,2014-01-01 23:12:44+00:00,14.0,14,NaN,female,monthly,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670276,1335826,50.0,475.0,Recycling,Services,"to buy scrap material like metal, copper, plas...",PK,Pakistan,Multan,PKR,247.0,2017-07-07 11:08:08+00:00,2017-06-23 07:00:00+00:00,NaN,15.0,2,"#Single Parent, #Eco-friendly, #Parent",female,monthly,2017-07-07
670299,1335833,50.0,250.0,Motorcycle Transport,Transportation,to buy a new moto rickshaw for her son's trans...,PK,Pakistan,Multan,PKR,247.0,2017-07-07 11:16:08+00:00,2017-06-23 07:00:00+00:00,NaN,15.0,2,NaN,female,monthly,2017-07-07
670327,1335510,0.0,300.0,General Store,Retail,to refurbish their general store in order to i...,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-07 05:01:47+00:00,2017-06-16 07:00:00+00:00,NaN,14.0,0,#Elderly,female,monthly,2017-07-07
670344,1335824,0.0,250.0,Embroidery,Arts,to buy embroidery items to complete the orders...,PK,Pakistan,Multan,PKR,247.0,2017-07-07 11:05:01+00:00,2017-06-23 07:00:00+00:00,NaN,15.0,0,"#Fabrics, user_favorite",female,monthly,2017-07-07
670350,1335851,250.0,250.0,Crafts,Arts,"to buy supplies like iron wire, strings, gum, ...",PK,Pakistan,Multan,PKR,247.0,2017-07-07 11:39:45+00:00,2017-06-20 07:00:00+00:00,2017-07-16 00:37:58+00:00,15.0,5,"#Schooling, user_favorite",female,monthly,2017-07-07
670364,1335638,50.0,200.0,Rickshaw,Transportation,to pay installments for her husband's rickshaw...,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-07 07:23:19+00:00,2017-06-20 07:00:00+00:00,NaN,14.0,2,NaN,female,monthly,2017-07-07
670393,1335813,50.0,575.0,Tailoring,Services,to buy two sewing juki machines to continue ta...,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-07 10:21:23+00:00,2017-06-16 07:00:00+00:00,NaN,14.0,2,#Fabrics,female,monthly,2017-07-07
670401,1335836,150.0,350.0,Embroidery,Arts,to invest in her embroidery work by buying sup...,PK,Pakistan,Multan,PKR,247.0,2017-07-07 11:18:24+00:00,2017-06-23 07:00:00+00:00,NaN,15.0,4,"volunteer_like, #Elderly, #Fabrics, user_favorite",female,monthly,2017-07-07
670415,1335848,50.0,200.0,Retail,Retail,to restock Rozeena's business with small silve...,PK,Pakistan,Multan,PKR,247.0,2017-07-07 11:37:34+00:00,2017-06-21 07:00:00+00:00,NaN,15.0,2,"#Parent, #Schooling",female,monthly,2017-07-07
670457,1336327,0.0,250.0,Embroidery,Arts,to buy embroidery raw materials such as thread...,PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 17:48:54+00:00,2017-06-08 07:00:00+00:00,NaN,14.0,0,#Fabrics,female,monthly,2017-07-08
670462,1336326,0.0,300.0,Embroidery,Arts,to buy embroidery raw materials such as thread...,PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 17:41:49+00:00,2017-06-08 07:00:00+00:00,NaN,13.0,0,#Fabrics,female,monthly,2017-07-08
670474,1336316,0.0,475.0,Embroidery,Arts,to buy embroidery raw materials such as thread...,PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 17:08:59+00:00,2017-06-08 07:00:00+00:00,NaN,13.0,0,#Fabrics,female,monthly,2017-07-08
670484,1336245,0.0,200.0,Clothing Sales,Clothing,"to buy clothes at a low price, sew it, and the...",PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 09:09:07+00:00,2017-06-16 07:00:00+00:00,NaN,14.0,0,"#Parent, #Fabrics",female,monthly,2017-07-08
670486,1336249,0.0,300.0,Cloth & Dressmaking Supplies,Retail,to buy clothes for resale,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 09:35:07+00:00,2017-06-20 07:00:00+00:00,NaN,14.0,0,#Parent,female,monthly,2017-07-08
670499,1336324,0.0,475.0,Embroidery,Arts,to buy embroidery raw materials such as thread...,PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 17:32:39+00:00,2017-06-08 07:00:00+00:00,NaN,14.0,0,"#Woman Owned Biz, #Fabrics",female,monthly,2017-07-08
670508,1336261,0.0,300.0,Clothing Sales,Clothing,to buy readymade clothes for reselling at home.,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 11:01:48+00:00,2017-06-20 07:00:00+00:00,NaN,14.0,0,#Parent,female,monthly,2017-07-08
670514,1336259,0.0,300.0,Rickshaw,Transportation,to cover the cost of her husband's rickshaw re...,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 10:36:21+00:00,2017-06-20 07:00:00+00:00,NaN,14.0,0,#Parent,female,monthly,2017-07-08
670515,1336331,0.0,300.0,Embroidery,Arts,"to buy embroidery raw material such as thread,...",PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 18:00:21+00:00,2017-06-08 07:00:00+00:00,NaN,14.0,0,"#Woman Owned Biz, #Fabrics",female,monthly,2017-07-08
670516,1336253,0.0,300.0,Home Products Sales,Retail,to buy crockery items for her husband's crocke...,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 09:49:27+00:00,2017-06-20 07:00:00+00:00,NaN,14.0,0,NaN,female,monthly,2017-07-08
670522,1336329,0.0,475.0,Embroidery,Arts,"to buy embroidery raw material such as thread,...",PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 17:55:17+00:00,2017-06-08 07:00:00+00:00,NaN,14.0,0,"#Woman Owned Biz, #Fabrics",female,monthly,2017-07-08
670526,1336244,0.0,300.0,Clothing Sales,Clothing,to buy clothes relevant to the summer weather.,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 08:54:56+00:00,2017-06-16 07:00:00+00:00,NaN,14.0,0,"volunteer_pick, #Elderly",female,monthly,2017-07-08
670527,1336313,0.0,575.0,Embroidery,Arts,to buy embroidery raw materials such as thread...,PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 16:59:50+00:00,2017-06-08 07:00:00+00:00,NaN,14.0,0,#Fabrics,female,monthly,2017-07-08
670531,1336321,75.0,475.0,Animal Sales,Agriculture,to raise calves to sell them in some festive s...,PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 17:25:58+00:00,2017-06-08 07:00:00+00:00,NaN,13.0,3,#Animals,female,monthly,2017-07-08
670542,1336263,0.0,300.0,General Store,Retail,to buy more stock of goods for her husband's g...,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 11:20:28+00:00,2017-06-20 07:00:00+00:00,NaN,14.0,0,#Parent,female,monthly,2017-07-08
670546,1336246,0.0,200.0,Clothing Sales,Clothing,to buy different kinds of cloth for resale.,PK,Pakistan,Rawalpindi,PKR,247.0,2017-07-08 09:18:41+00:00,2017-06-19 07:00:00+00:00,NaN,14.0,0,#Parent,female,monthly,2017-07-08
670549,1336332,0.0,475.0,Embroidery,Arts,"to buy embroidery raw material such as thread,...",PK,Pakistan,Muzaffargarh,PKR,247.0,2017-07-08 18:05:02+00:00,2017-06-08 07:00:00+00:00,NaN,14.0,0,"#Woman Owned Biz, #Fabrics",female,monthly,2017-07-08
671152,1340239,25.0,25.0,Livestock,Agriculture,Reviewed loan use in english.,PK,Pakistan,Attock,PKR,245.0,2017-07-20 22:03:15+00:00,2017-07-20 07:00:00+00:00,2017-07-22 00:53:41+00:00,13.0,1,NaN,female,monthly,2017-07-20
671164,1340256,25.0,25.0,Livestock,Agriculture,Reviewed loan use in english.,PK,Pakistan,Attock,PKR,245.0,2017-07-21 15:16:37+00:00,2017-07-21 07:00:00+00:00,2017-07-22 01:23:18+00:00,13.0,1,NaN,female,monthly,2017-07-21
671170,1340267,25.0,25.0,Livestock,Agriculture,Reviewed loan use in english.,PK,Pakistan,Attock,PKR,245.0,2017-07-21 21:46:10+00:00,2017-07-21 07:00:00+00:00,2017-07-22 13:07:29+00:00,13.0,1,NaN,female,monthly,2017-07-21
671181,1340285,0.0,25.0,Livestock,Agriculture,Reviewed loan use in english.,PK,Pakistan,Attock,PKR,245.0,2017-07-23 21:57:42+00:00,2017-07-23 07:00:00+00:00,NaN,13.0,0,NaN,female,monthly,2017-07-23

In [51]:
#Look at regions within Pakistan

pak_table["region"].value_counts()

Lahore                 7178
Rawalpindi             4496
Multan                 2526
Gujranwala             1466
Haripur                1186
Abbottabad              893
Gujrat                  814
Sialkot                 733
Mansehra                514
Oghi                    401
Muzaffargarh            360
Faisalabad              319
Hafizabad               279
Bahawalpur              239
Sahiwal                 230
Jhang                   229
Layyah                  210
Rahim Yar Khan          185
Karachi                 173
Pakpatan                171
Mandi Bahauddin         170
Okara                   152
Sheikhupura             132
Kot Addu                130
Jahanian                127
Kabeerwala              116
Wazirabad               104
Mian Chanoon             97
Lodhran                  96
Sargodha                 96
                       ...
Ahmadpur East             2
Raja Bhullah              2
Mari Thakran              2
Malkay                    2
Tatlay Aali               2
Bhudary                   2
Gharo                     2
Narang Mandi              2
Dijikot                   2
Hasil Pur                 2
Tando Mohammad Khan       2
Tandlianwala              2
Muzaffar Garh             1
Toba Tek Singh            1
Haroon Abad               1
Nowshera Virkan           1
Minchan Abad              1
Shahkot                   1
Sangla Hill               1
Naushera                  1
Malikwal                  1
Dera Hussain Abad         1
Shorkot                   1
Kot Chutta                1
ChahSayiawala             1
Butranwali                1
Pindi Bhattian            1
Qila Didar Singh          1
Dg Khan                   1
Badin                     1
Name: region, Length: 145, dtype: int64

In [6]:
loans.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

In [54]:
pak_table_mpi_loc = mpi_locations.loc[mpi_locations['country'] == "Pakistan"]
pak_table_mpi_loc

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
733,"Punjab, Pakistan",PAK,Pakistan,Punjab,South Asia,0.184,"(31.1704063, 72.7097161)",31.170406,72.709716
734,"Sindh, Pakistan",PAK,Pakistan,Sindh,South Asia,0.294,"(25.8943018, 68.52471489999999)",25.894302,68.524715
735,"Khyber Pakhtunkhwa, Pakistan",PAK,Pakistan,Khyber Pakhtunkhwa,South Asia,0.247,"(34.9526205, 72.331113)",34.952621,72.331113
736,"Balochistan, Pakistan",PAK,Pakistan,Balochistan,South Asia,0.402,"(28.4907332, 65.0957792)",28.490733,65.095779
737,"Gilgit Baltistan, Pakistan",PAK,Pakistan,Gilgit Baltistan,South Asia,0.233,"(35.80256670000001, 74.9831808)",35.802567,74.983181
738,"Islamabad (ICT), Pakistan",PAK,Pakistan,Islamabad (ICT),South Asia,0.039,"(33.7293882, 73.0931461)",33.729388,73.093146

In [28]:
mpi_locations.head() #MPI is the poverty index!!

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [55]:
loan_theme_id.head() # Maybe come back to this? If we need to

       id    Loan Theme ID          Loan Theme Type  Partner ID
0  638631  a1050000000skGl                  General       151.0
1  640322  a1050000000skGl                  General       151.0
2  641006  a1050000002X1ij         Higher Education       160.0
3  641019  a1050000002X1ij         Higher Education       160.0
4  641594  a1050000002VbsW  Subsistence Agriculture       336.0

In [31]:
loan_theme_id["Loan Theme Type"].value_counts()

General                                           380693
Underserved                                        62575
Agriculture                                        40108
Rural Inclusion                                    21228
Water                                              20131
Higher Education                                   17728
General (Women)                                    16566
Vulnerable Populations                             16354
Green                                              13913
Water and Sanitation                               12032
Startup                                             9887
Subsistence Agriculture and Solar Lanterns          8597
Youth                                               8444
Subsistence Agriculture                             8247
Vulnerable Women                                    8184
FUSAI                                               6014
Extreme Poverty                                     5475
Murabaha                                            5264
Disaster Recovery                                   4973
Bridge/Income Smoothing                             4096
Women Without Poverty                               3902
Unbanked                                            3638
Health                                              3457
Women Entrepreneurs                                 3255
Youth Entrepreneurship                              3137
Displaced Populations                               2861
Single mothers                                      2795
Startup (Women)                                     2652
Primary/Secondary Education                         2629
End Consumer Finance                                2617
                                                   ...
Tool Box Loan                                         11
WLIFT                                                 10
Communities affected by War                           10
Kiva City D.C.                                        10
WLIFT-Conflict Zone                                    9
Underserved (large)                                    9
Distributor Finance - India                            8
Conflict Zone (Women)                                  8
Agroforesty: Plantation Maintenance                    7
Clients below the poverty line                         7
FUSAI Green                                            6
Vulnerable Populations (Physical Disabilities)         6
Agroforestry: Plantation Establishment                 6
Cluster Enterprise Development                         6
Driptech                                               5
Clean Water Delivery                                   5
Solar water pump                                       5
Intercropping                                          5
Profit-linked debt                                     4
Detroit                                                3
Passion Fruit Production                               3
UBER Drivers                                           3
Redemption                                             3
CPO - LKM                                              3
WLIFT-Youth                                            2
Motorbike                                              2
CAMEO Partnership                                      2
Vulnerable Populations (Iraqi)                         1
SME (Tanzania)                                         1
Property Rights                                        1
Name: Loan Theme Type, Length: 203, dtype: int64

In [33]:
loan_theme_region["sector"].value_counts()

General Financial Inclusion    13679
Clean Energy                     840
Other                            338
Agriculture                      300
Mobile Money and ICT             210
Education                        143
Water and Sanitation              92
Artisan                           55
DSE Direct                        45
SME Financial Inclusion           32
Health                             2
Name: sector, dtype: int64

In [9]:
loan_theme_region.head() #rural percentage, KEEP

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,"(13.75, 103.0)",KHM,...,450,"Banteay Meanchey, Cambodia","[(13.6672596, 102.8975098)]",Banteay Meanchey Province; Cambodia,"(13.6672596, 102.8975098)",13.667260,102.897510,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
1,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,NaN,KHM,...,20275,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
2,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,NaN,KHM,...,9150,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
3,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,604950,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
4,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,275,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0

In [10]:
loan_theme_region["geocode"][5]

'[(12.0982918, 105.3131185)]'

In [12]:
loan_theme_region["geocode"][5].split(',')

['[(12.0982918', ' 105.3131185)]']

In [16]:
loan_theme_region["geocode"][5].split(',')[1]

' 105.3131185)]'

In [18]:
loan_theme_region["lat"][3]

12.0982918